<!DOCTYPE html>
<html>
<head>
	<title></title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<scriptsrc="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<scriptsrc="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style type="">
	.jumbotron
{
  background: url('https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?h=350&auto=compress&cs=tinysrgb') no-repeat center center;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
</style>
<body >

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">KnoWeb</a>
    </div>
    <ul class="nav navbar-nav">
    	<li class="active"><a href="/profile">profile</a></li>
      <li><a href="/Q&A">Q&A</a></li>
      <li><a href="/About">About</a></li>
</ul>
</div>
<form action="{{ url_for('profile') }}" method="post">
question:<br>
<input type="text" name="question">
<br>
subject: <br>
<input type="text" name="subject">
explanation:<br>
<input type="text" name="explanation">
</form>
</body>
</html>